@import "./utils/variables";
@import "./base/font-elements";
@import "./base/link-list";
@import "./utils/mixins";
@import "./layout/footer";
@import "./composants/button";

/* Header page d'acceuil */ 

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
        height: 8vw;
        padding: 10px;
    }
    &__destination {
        border: none;
        font-weight: bold;
    }
    &__search {
    display: flex;
    border-top: rgb(207, 207, 207);
    background-color: $bg-colour-nav ;
    }   &__section {
        background-color: $bg-section-colour;
        
    }   
        &__divbutton {
            text-align: center;
            padding-top: 20px;
        }
        &__title{
            font-size: 6vw;
            text-align: center;
            padding-top: 25px;
        }
        &__description {
            text-align: center;
        }
        &__bouton {
        @include bouton;
            &:hover {
                cursor: pointer;
            }
       
    }

            }

/* Fonctionnement */
 .guide {
     display: flex;
     flex-direction: column;
     & ul {
         padding:15px;
     }
     &__steps {
         position: relative;
         display: flex;
         background-color: $bg-section-colour;
         box-shadow: 3px 3px 10px #e2e2e2;
         margin-bottom: 30px;
         align-items: center;
         width: 90%;
         font-weight: bold;
         padding: 15px;
         border-radius: 30px;
     }
    
 }           
            
.step-number {
    background-color: $colour-primary;
    border-radius: 50%;
    padding: 10px;
    color:white ;
    height: 7px;
    width: 7px;
    text-align: center;
    position: absolute;
    left: -15px;
    display: flex;
    align-items: center;

}

.order-button {
    text-align: center;
}

.restaurant, #menu_restaurant {
    background-color: $bg-section-colour;
}
.restaurant__header{
    padding-top:30px
}

#menu_restaurant {
    border-radius: 20px 20px 0 0;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
        height: auto;
        width: auto;
        @media (max-width: 375px) {
            height: 8vw;
            width: auto;
        }
    }
}

#restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.resto {
    position: relative;
    @include articles-restaurants; 
    margin: 10px 0;
   &__image {
       height: 20vw;
       width: 30vw;
       object-fit: cover;
       border-radius: 20px 20px 0 0;
       @media (max-width: 375px) { 
           height: 50vw;
           width: 90vw;
           object-fit: cover;
       }
    }
    &__name {
        font-size: 1em;
        margin: $article-content;
    }
    &__location {
        margin: $article-content;
    }
    &__new-text {
        @include new-text-box
    }
   }

/* Pages restaurants*/
#menu_restaurant {
    display: flex;
    flex-direction: column;
    background-color: $bg-section-colour;
    border-radius: 20px 20px 0 0;
}

.menu {
    position: relative;
    &__nom{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.contenu-menu{
    &__nom {
    @include menu-names;
    }
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-top: 60px
    }
    & li{
        @include articles-restaurants;
        margin: 10px 0;
    }
        & h3,p {
            margin:5px
        }
}
 
.restaurant-image {
    @media (max-width: 375px) { 
        height: 50vw;
        width: 90vw;
        object-fit: cover;
    }
    
}



