.footer {
    padding: 20px 0 20px 20px;
    background-color: $bg-footer-colour ;
    &__content {
        padding-left: 0px;
        padding-bottom: 0px;
        }
    &__list {
        padding-bottom: 10px;
    }   &__list--icon{
        padding-right: 15px;
    }
        
}