/* Pages restaurants*/
#menu_restaurant {
    display: flex;
    flex-direction: column;
    background-color: $bg-section-colour;
    border-radius: 20px 20px 0 0;
}

.menu {
    position: relative;
    &__nom{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.contenu-menu{
    &__nom {
    @include menu-names;
    }
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-top: 60px
    }
    & li{
        @include articles-restaurants;
        margin: 10px 0;
    }
        & h3,p {
            margin:5px
        }
}
 
.restaurant-image {
    @media (max-width: 375px) { 
        height: 50vw;
        width: 90vw;
        object-fit: cover;
    }
    
}