/* Animation icônes coeur */
/*.resto__favorite{ */
  .fa-stack:hover .resto__favorite--vide{
            animation: disappear 0.5s forwards linear;
            opacity: 0;
        }
  .fa-stack:hover .resto__favorite--plein {
            opacity: 1;
            transform:scale(1);
            animation: filling 0.5s forwards linear;
            transform-origin: bottom;
        }
    

    
    
@keyframes disappear {
    0%{
        opacity: 1 ;
    }
    10%{
        opacity: 0.9;
    }
    20%{
        opacity: 0.9;
    }
    30%{
        opacity: 0.9;
    }
    40% {
        opacity: 0.9
    }
    70%{
        opacity: 0.8; 
    }
    100%{
        opacity: 0;
        z-index: 1;
    }
}

@keyframes filling {
    0% {
        transform: scale(0);
        opacity: 0;
      }
      10% {
        transform: scale(0.1);
      }
      20% {
        transform: scale(0.2);
      }
      30% {
        transform: scale(0.3);
      }
      40% {
        transform: scale(0.4);
      }
      50% {
        transform: scale(0.5);
      }
      60% {
        transform: scale(0.6);
      }
      70% {
        transform: scale(0.7);
      }
      80% {
        transform: scale(0.8);
      }
      90% {
        transform: scale(0.9);
      }
      100% {
        opacity:1;
        transform: scale(1);
        
        
}
}