
/* Conteneur du loader */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    animation: appear 4s;

    @keyframes appear{
        0% {
            opacity: 0.95;
        }

        100% {
            opacity:0;
            display: none;
        }
    }
    
    
    /* Cercle du loader */
    &--border {
    position: fixed;
    width: 250px;
    height: 250px;
    border: 10px solid;
    border-color: $colour-primary $colour-secondary $colour-tertiaire $colour-font-new;
    border-radius: 50%;
    font-family: $restaurant-name-font;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 4s linear both;
    
}
}
@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg);
        
    }
  }