body {
    font-family: 'Roboto', sans-serif;
}

/* nom des menu */

.menu__nom h2 {
    font-family: $restaurant-name-font;
}

/* ohmyfood dans footer */

footer p {
    font-family: 'Shrikhand', sans-serif;
    color: $footer-font-colour;
}

footer ul li a {
    color: $footer-font-colour;
}