.restaurant, #menu_restaurant {
    background-color: $bg-section-colour;
}
.restaurant__header{
    padding-top:30px;
    margin: 20px;

}

#menu_restaurant {
    border-radius: 20px 20px 0 0;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
        height: auto;
        width: auto;
        @media (max-width: 375px) {
            height: 8vw;
            width: auto;
        }
    }
}

#restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
        @include tablette-portrait {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}
.resto {
    position: relative;
    @include articles-restaurants; 
    margin: 10px 0;
   &__image {
       height: 20vw;
       width: 35vw;
       object-fit: cover;
       border-radius: 20px 20px 0 0;
       @media (max-width: 425px) { 
           height: 50vw;
           width: 90vw;
           object-fit: cover;
       }
       @include tablette-portrait {
           width: 100%;
       }
    }
    &__info {
        padding:10px;
    }
        & h3,p {
        margin: $article-content;
    }
    
    &__new-text {
        @include new-text-box
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   }