@mixin bouton {
    color: white;
    background-image: linear-gradient(to bottom, $colour-secondary, $colour-primary);
    border-radius: 200px ;
    box-shadow: 3px 3px 10px #e2e2e2;
    padding: 15px;
    border: none;
    font-weight: bold;
    margin-bottom: 40px;
}

@mixin articles-restaurants {
    border-radius: 20px;
    box-shadow: 3px 3px 10px #e2e2e2;
}
