@mixin bouton {
    font-family: "Roboto", sans-serif;
    color: white;
    background-image: linear-gradient(to bottom, $colour-secondary, $colour-primary);
    border-radius: 200px ;
    box-shadow: 3px 3px 10px #e2e2e2;
    padding: 15px;
    border: none;
    font-weight: 400;
    margin-bottom: 40px;
}

@mixin articles-restaurants {
    border-radius: 20px;
    box-shadow: 3px 3px 10px #e2e2e2;
    background-color: white;
}

@mixin new-text-box {
    background: $colour-tertiaire;
    color: $colour-font-new;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 15px;
    right: 20px;
}

@mixin menu-names {
    display: inline;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    padding-bottom: 3px;
}

@mixin nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    background-color: $bg-colour-nav;
    box-shadow: inset 0px 10px 5px -5px #d4d4d4;
}

@mixin input {
    text-align: center;
    background-color: $bg-colour-nav;
    border: transparent;
    font-size: 15px;
    font-weight: bold;
    
}

@mixin overflow {
    width: 95%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Breakpoints Responsive */

@mixin tablette-portrait {
    @media screen and (min-width: map-get($responsive, tablet-portrait)){
        @content;
        }
}

@mixin tablette-paysage {
    @media screen and (min-width: map-get($responsive, tablet-paysage)){
        @content;
        }
}

@mixin laptop {
    @media screen and (min-width: map-get($responsive, laptop)) and (max-width: map-get($responsive, laptop-L)){
        @content;
        }
}

@mixin laptop-large {
    @media screen and (min-width: map-get($responsive, laptop-L)){
        @content;
        }
}