$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiaire: #99E2D0;
$colour-font-new: #0C8E6E;
$bg-colour-nav: #EAEAEA;
$bg-section-colour: #F6F6F6;
$bg-footer-colour: #353535;
$footer-font-colour: white; 
$restaurant-name-font: 'Shrikhand', sans-serif;
$article-content: 5px 10px;
$responsive: (
    tablet-portrait: 768px,
    tablet-paysage: 850px,
    laptop: 1024px
)